<div class="container">

  <div class="jumbotron">
    <h1 class="display-4">ComicStock</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
  </div>

  <div class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">
      <a class="nav-link active" routerLink="/suppliers">Suppliers</a>
    </span>
    <span class="navbar-brand mb-0 h1">
      <a class="nav-link" routerLink="/issues">Orders</a>
    </span>
  </div>

  <router-outlet></router-outlet>

</div>
